.reveal .slide-number {
    right: unset;
    left: 8px;
}

.reveal .grid-layout {
    display: grid !important;
    grid-template-columns: auto auto auto auto;
}

.avatar {
    border-radius: 100%;
    height: 80px;
    margin-top: 0 !important;
}

.sit-place {
    position: absolute;
}

.animate-fly-out {
    position: fixed;
    bottom: 10vh;
    left: -10vw;
    width: 200px;
    transform: translateY(0vh) scale(1);
    animation-name: fly-up;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes fly-up {
    0%   {
        transform: translate(-100px, 0vh) scale(1);
    }
    25%  {
        transform: translate(100px ,-300px) scale(0.5) rotate(25deg);
    }
    50%  {
        transform: translate(300px ,-500px) scale(0.5) rotate(30deg);
    }
    100% {
        transform: translate(1200px ,-500px) scale(0.5) rotate(30deg);
    }
}

.animate-clouds {
    position: fixed;
    bottom: 10vh;
    left: -10vw;
    width: 50px;
    transform: translateY(0vh);
    animation-name: cloud;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes cloud {
    0% {
        transform: translateX(1200px);
    }
    100% {
        transform: translateX(-50px);
    }
}

.animate-flying {
    position: fixed;
    bottom: 10vh;
    left: -10vw;
    width: 200px;
    transform: translateY(0vh) scale(1);
    animation-name: flying;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes flying{
    0%   {
        transform: translate(-50px ,-500px) scale(0.6) rotate(30deg);
    }
    100% {
        transform: translate(1200px ,-500px) scale(0.6) rotate(30deg);
    }
}


.animate-landing {
    position: fixed;
    filter: invert(100%);
    bottom: 0vh;
    left: -10vw;
    width: 200px;
    transform: translateY(0vh) scale(0.6);
    animation-name: landing;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes landing{
    0%   {
        transform: translate(-100px ,-500px) scale(0.5) rotate(10deg);
    }
    25%  {
        transform: translate(100px ,-100px) scale(0.6) rotate(15deg);
    }
    40%  {
        transform: translate(300px ,20px) scale(0.6) rotate(30deg);
    }
    100% {
        transform: translate(1200px ,20px) scale(0.6) rotate(30deg);
    }
}

.bar-chart {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 28px;
}

.bar-true {
    background-color: #0ead69;
    border-bottom: 3px solid #2d6a4f;
    border-top: 3px solid #2d6a4f;
    border-left: 3px solid #2d6a4f;
    border-right: 1px solid #2d6a4f;
    padding: 5px 20px;
    width: calc(53.5% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-false {
    background-color: #f94144;
    border-bottom: 3px solid #9d0208;
    border-top: 3px solid #9d0208;
    border-right: 3px solid #9d0208;
    border-left: 1px solid #9d0208;
    padding: 5px 20px;
    width: calc(46.5% - 40px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.caption {
    font-size: 14px;
    color: #ffb600;
    font-weight: bold;
}